<a href="https://colab.research.google.com/github/rahulbhusari/Pandas_by_rb/blob/main/Pandas01_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
import numpy as np

list =  [1,2,3,4]
list1 =  [1,2,3,4,'five',0.2]
list2 =  [1,2,3,4]
index1 =['one','two','three','four']
# Seriesfromlit = pd.Series(list)
Seriesfromlit = pd.Series(list, index = index1 )  ## one dimensional array its same like single column within data frame or tables we can also put our own index as well 
print(Seriesfromlit)

one      1
two      2
three    3
four     4
dtype: int64

In [20]:
## series from dict
dict = {1:"blake",2:"mayur", 3: "ganesh"}
seriesfromdict = pd.Series(dict)
print(seriesfromdict)
for num, item in enumerate(seriesfromdict): ## yes afcourse we can iterate through series 
    print( '{', num+1, ':', item, '}' )

1     blake
2     mayur
3    ganesh
dtype: object
{ 1 : blake }
{ 2 : mayur }
{ 3 : ganesh }

In [26]:
## series from numpy array 

a =  np.random.power([14,12,13,14])
a_series = pd.Series(a)
print(a_series)

0    0.879505
1    0.998537
2    0.960291
3    0.985827
dtype: float64

In [32]:
import numpy as np
Ent_int_startvaluev  = int(input('\n please enter the starting range of series :'))
Ent_int_endvaluev  = int(input('\n please enter the ending range of series :'))
Ent_int_stepvaluev  = int(input('\n please enter the step of series :'))

a = np.linspace(Ent_int_startvaluev,Ent_int_endvaluev,Ent_int_stepvaluev)
a_series = pd.Series(a)
print(a_series)

 please enter the starting range of series :10

 please enter the ending range of series :1000

 please enter the step of series :7
0      10.0
1     175.0
2     340.0
3     505.0
4     670.0
5     835.0
6    1000.0
dtype: float64

In [34]:
InTestVal = int(input('enter test values : '))
np_array_rnd = np.random.randn(InTestVal)
print(np_array_rnd)
np_array_rnd = pd.Series(np_array_rnd)
print(np_array_rnd)

enter test values : 10
[ 2.14429511  1.33657335 -0.89083554 -1.44183436 -0.00486848  0.20070084
  0.9332263   0.68592109 -0.72447162 -0.09102795]
0    2.144295
1    1.336573
2   -0.890836
3   -1.441834
4   -0.004868
5    0.200701
6    0.933226
7    0.685921
8   -0.724472
9   -0.091028
dtype: float64

In [41]:
## pandas slicing

slice_value  =  int(input("enter values to be print :" ))
## print(np_array_rnd[:slice_value])
print(np_array_rnd[-slice_value:]) ## printing items of from how many last item do you want

enter values to be print :1
9   -0.091028
dtype: float64

In [45]:
print(np_array_rnd[1:5:2])
print(np_array_rnd[1::2]) ##:: means its step from first index to gap means infinite till last the index and then step as normal syntax
## start : end : step 
## [[ START :: END ]]   start:'somehow here the end is hidden hence when want to surf thourgh whole list with step then we can use this consrtuct':step

1    1.336573
3   -1.441834
dtype: float64
1    1.336573
3   -1.441834
5    0.200701
7    0.685921
9   -0.091028
dtype: float64